body {
  font-family: 'Muli', sans-serif;
}

a {
  text-decoration: none;
}

td {
  border: solid 1px #555555;
  text-align: center;
}

button {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 3vw;
  font-size: 5vw;
  margin: 5vw;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
}

button:hover {
  color: black;
  background-color: white;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
}

.nav {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0px 5vw;
  z-index: 2;
}

.nav .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav img {
  height: 7vh;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.nav h5 {
  color: white;
}

.nav h5:hover {
  border-bottom: solid #0044ff;
}

.nav .selected {
  border-bottom: solid #0044ff;
}

.home .hero {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  background-color: black;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url("../assets/North Battlefield Logo.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../assets/North Battlefield Logo.jpg");
  background-position: center;
  background-size: cover;
}

.home h2 {
  margin: 0px;
  font-size: 8vw;
}

.home h1 {
  margin: 0px;
  font-size: 15vw;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 5vw;
  position: fixed;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.4);
  width: 90%;
  color: white;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer h5 {
  color: white;
}

.pr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background-color: #111111;
  text-align: center;
}

.pr .chart {
  width: 90%;
}

.pr .nav {
  position: initial;
}

.pr p {
  padding: 0px 5vw;
}
/*# sourceMappingURL=styles.css.map */